body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  margin-top: 135px;
  background-image: url("../img/pokemon-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.page-header {
  position: fixed;
  top: 5%;
  left: 15%;
  z-index: 12;
  width: 70%;
  background-color: #FFF8DC;
  height: 121px;
  border-radius: 35px;
}

.logo {
  position: relative;
  height: 180px;
  top: -45px;
}

.pokeball {
  float: right;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
}

.content {
  position: relative;
  top: 60px;
  margin-bottom: 80px;
}

.pokemon-button {
  margin-bottom: 18px;
  width: 40%;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  color: white;
  background-color: black;
  border: none;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 8px;
}

.pokemon-button:hover {
  background-color: #2f4f4f;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

ul {
  list-style-type: none;
  text-align: left;
  margin-top: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  z-index: 30;
}

#search-input {
  width: 50%;
  text-align: center;
  margin-bottom: 12px;
  background: #f5f5f5;
  font-size: 30px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 155px;
  left: 44%;
  width: 53%;
  height: 80%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: auto;
  display: grid;
  border-radius: 20px;
}

#modal-container.is-visible h2 {
  text-transform: uppercase;
  font-size: 60px;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 70%;
  max-width: 700px;
  text-align: center;
  z-index: 15;
  border-radius: 20px;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: #003300;
  text-decoration: underline;
  transition-duration: 0.5s;
}

.modal-close:hover {
  text-decoration: none;
  color: #33CC33;
}


.modal-image {
  height: 250px;
}


@media screen and (max-width: 900px){

  #modal-container.is-visible {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
  }

  .modal {
    width: 100%;
  }

  .page-header {
    width: 80%;
  }

  .pokeball {
    display: none;
  }

  .pokemon-button {
    width: 80%;
  }
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #F8F8F8;
  z-index: 12;

  &.show {
    visibility: visible;
  }

  &.hide {
    visibility: hidden;
  }

  &:hover {
    background-color: #E8E8E8;
  }
}

#top-arrow {
  width: 30px;
}
